<?xml version="1.0" encoding="utf-8"?>
<parametros>
  <chave nometag="CODE" tipo="" />
  <chave nometag="SEVERITY" tipo="" />
  <chave nometag="DTSERVER" tipo="" />
  <chave nometag="LANGUAGE" tipo="" />
  <chave nometag="ORG" tipo="" />
  <chave nometag="FID" tipo="" />
  <chave nometag="TRNUID" tipo="" />
  <chave nometag="CURDEF" tipo="" />
  <chave nometag="BANKID" tipo="" />
  <chave nometag="ACCTID" tipo="" />
  <chave nometag="ACCTTYPE" tipo="" />
  <chave nometag="DTSTART" tipo="data" />
  <chave nometag="DTEND" tipo="data" />
  <chave nometag="TRNTYPE" tipo="" />
  <chave nometag="DTPOSTED" tipo="data" />
  <chave nometag="TRNAMT" tipo="" />
  <chave nometag="FITID" tipo="" />
  <chave nometag="CHECKNUM" tipo="" />
  <chave nometag="PAYEEID" tipo="" />
  <chave nometag="MEMO" tipo="" />
  <chave nometag="BALAMT" tipo="" />
  <chave nometag="DTASOF" tipo="data" />
</parametros>